<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Freemarker</string>
	<key>ordering</key>
	<array>
		<string>C011BB07-875D-4DEB-9582-0E1FEC0D1E4E</string>
		<string>0AB7F723-9934-4DF3-A6EB-4E50380654A2</string>
		<string>C1BA9573-77BB-4AA3-AA0A-C31D0C40A5B2</string>
		<string>44F85293-E961-46A0-A62A-B9A8030683E6</string>
		<string>03B31DB6-9A80-4EF5-B3F8-F6B9B083A051</string>
	</array>
	<key>uuid</key>
	<string>4B4498B8-B705-4E4C-9DB8-06B43D9020EF</string>
</dict>
</plist>
